$darkPrimaryColour: #88924e;
$primaryColour: black;
$secondaryColour: rgb(218, 218, 218);
$blue: rgb(112, 191, 255);

$mainTextColour: black;
$font: "Karla", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $primaryColour;
    color: white;
}

@media (min-width: 768px) {
}
